{% extends 'base.html.twig' %}

{% block title %}Medicaments{% endblock %}

{% block body %}


        {% for medicament in lesMedicaments %}
            <tr>
                <td>{{medicament.getId}}</td>
                
                <td>{{medicament.getLibelle}}</td> 
                
                 <td><a href="{{path("app_medicamentId",{id:medicament.id})}}">Ouvrir</a></td>
                 </tr>

        {% else %}
     Pas de medicaments trouvés.
        {% endfor %}     
{% endblock %}