{% extends 'base.html.twig' %}

{% block title %}Medicaments{% endblock %}

{% block body %}


        
            <tr>
                <td>L'id: {{medicament.getId}}</td>
                <br>
                <td> Le Libelle: {{medicament.getLibelle}}</td> 
                
                <td>
                 </tr>

        
             
{% endblock %}