{% extends 'base.html.twig' %}

{% block title %}effetsecondaire{% endblock %}

{% block body %}


        
            <tr>
                <td>L'id: {{leseffetsecondaires.getId}}</td>
                <br>
                <td> Le Libelle: {{leseffetsecondaires.getLibelle}}</td> 
                
                <td>
                 </tr>

        
             
{% endblock %}