{% extends 'base.html.twig' %}

{% block title %}Les traitements{% endblock %}

{% block body %}
    <ul>
        <br>
        {% for traitement in traitements %}
        <li> {{traitement.getId}} - {{traitement.getDatedebut|date('Y-m-d')}}
        <a href="{{path("app_traitementId",{id:traitement.id})}}">Afficher le traitement</a>
        </li>
        {% else %}
        Pas de traitement trouvé.
        {% endfor %}
        <br>
    </ul>
{% endblock %}
