{% extends 'base.html.twig' %}

{% block title %}Modifier le traitement{% endblock %}

{% block body %}

    <br><br>
    <div id="form_login">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}