{% extends 'base.html.twig' %}

{% block title %}Bodrum - Patients{% endblock %}

{% block body %}

        {% for indication in lesindications %}
            
                L'indication : {{indication.getId}} La postologie = {{indication.getposologie}} <a class="nav-link" href="{{ path('app_affichage_indication',{id: indication.id})}}"> plus d'information </a>
                <br>
               

        {% else %}
     Pas d'indication trouvés.
        {% endfor %}     
{% endblock %}